Source: qmi-framework
Section: libs
Maintainer: Agathe Porte <agathe.porte@oss.qualcomm.com>
Build-Depends: debhelper-compat (= 13), pkgconf, libglib2.0-dev, libqrtr-dev
Standards-Version: 4.6.2
Homepage: http://support.cdmatech.com

Package: libqcci1
Architecture: arm64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: QMI Client Common Interface library
 QMI framework provides the Client Common Interface (CCI) library for
 QMI communication between applications and remote subsystems.
 .
 This package contains the shared library.

Package: libqcsi1
Architecture: arm64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: QMI Service Common Interface library
 QMI framework provides the Service Common Interface (CSI) library for
 QMI communication between applications and remote subsystems.
 .
 This package contains the shared library.

Package: libqencdec1
Architecture: arm64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: QMI encoder/decoder library
 QMI framework provides the encoder/decoder library for QMI message
 encoding and decoding operations.
 .
 This package contains the shared library.

Package: libqmi-common1
Architecture: arm64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: QMI common library
 QMI framework provides common functionality shared across QMI
 components for communication between applications and remote subsystems.
 .
 This package contains the shared library.

Package: libqmi-framework-dev
Architecture: arm64
Section: libdevel
Depends: ${misc:Depends},
 libqcci1 (= ${binary:Version}),
 libqcsi1 (= ${binary:Version}),
 libqencdec1 (= ${binary:Version}),
 libqmi-common1 (= ${binary:Version})
Description: QMI Framework development files
 QMI framework provides libraries and tools for QMI communication
 between applications and remote subsystems. It includes multiple
 services to support QMI communications.
 .
 This package contains the development headers and static libraries.

Package: qmi-framework-utils
Architecture: arm64
Section: utils
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: QMI Framework test utilities
 QMI framework provides sample applications to test QMI communication
 between applications and remote subsystems.
 .
 This package contains test utilities including qcci_test and qcsi_test.
