Source: qcom-qmi-framework
Section: libs
Priority: optional
Maintainer: Vishnu Santhosh <vishnu.santhosh@oss.qualcomm.com>
Build-Depends: debhelper-compat (= 13), pkgconf, libglib2.0-dev, libqrtr-dev
Standards-Version: 4.6.2
Homepage: http://support.cdmatech.com

Package: qcom-libqmi-framework
Architecture: arm64
Section: libs
Replaces: libqmi-framework1
Breaks: libqmi-framework1
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: QMI Framework applications & supporting services
 QMI framework will provide sample applications to test QMI communication
 between Apps and other remote sub systems. It also includes multiple
 services to support the QMI communications. qrtr-ns service should
 be running in background to support QMI communication because qrtr-ns is the
 one which handles the qrtr control packet. qrtr-filter service is required
 if the target want QMI access control which avoids unprivileged access to
 QMI services

Package: qcom-libqmi-framework-dev
Architecture: arm64
Section: libdevel
Replaces: libqmi-framework-dev
Breaks: libqmi-framework-dev
Depends: ${shlibs:Depends}, ${misc:Depends:},
 qcom-libqmi-framework (= ${binary:Version})
Description: QMI Framework applications & supporting services - headers package
 QMI framework will provide sample applications to test QMI
 communication between Apps and other remote sub systems. It also includes
 multiple services to support the QMI communications. qrtr-ns service should
 be running in background to support QMI communication because qrtr-ns is the
 one which handles the qrtr control packet. qrtr-filter service is required
 if the target want QMI access control which avoids unprivileged access to
 QMI services - headers package

Package: qcom-qmi-framework-utils
Architecture: arm64
Replaces: qmi-framework-utils
Breaks: qmi-framework-utils
Depends: ${shlibs:Depends}, ${misc:Depends},
 qcom-libqmi-framework (= ${binary:Version})
Description: QMI Framework applications & supporting services - tools package
 QMI framework will provide sample applications to test QMI
 communication between Apps and other remote sub systems. It also includes
 multiple services to support the QMI communications. qrtr-ns service should
 be running in background to support QMI communication because qrtr-ns is the
 one which handles the qrtr control packet. qrtr-filter service is required
 if the target want QMI access control which avoids unprivileged access to
 QMI services - tools package
